ipykernel
pyyaml
seaborn
pandas
requests
fastdtw
dtaidistance
tensorflow
scikit-learn
# Geopandas should install via conda
# $ conda install geopandas
# geopandas
rasterio
xarray==0.19.0
rioxarray
netCDF4
# Cartopy should install via conda
# $ conda install --channel conda-forge cartopy
# Cartopy
openpyxl
shapely
wradlib==1.15.0
tqdm